// Colour Swatch component

.cp_Swatch {
  &__sampleColour {
    width: 100%;
    //padding:em(10) em(10) 0;
  }

  &__details {
    padding:em(15) em(15);
  }

  &__values {
    padding:em(10) 0 0;
  }

  &__value {
    padding:em(5) 0;
    border-top:1px solid var(--ob_Card--colour--border);
  }

  &__valName {
    padding-right:em(10);
    min-width:em(55);
  }

  &__valNumber {
    font-weight: $bold;
  }
}