// Prose Text styles

.tx_Prose {
  $self: &;

  &--poster {
    text-align: center;
    max-width:em(660);
    margin:0 auto;
  }

  p {
    margin:0 0 1em;
  }

  // Lists
  li {
    margin-bottom: 0.4em;
  }

  ul,
  ol {
    margin: 0 0 1.5em;
    padding-left: 25px;
    list-style: none;

    li {
      position: relative;

      &:before {
        position: absolute;
      }

      li {
        font-size: 1em;
      }
    }
  }

  ul {
    ul {
      margin: 0.5em 0 0;
    }

    li {
      &:before {
        content: "";
        display: block;
        width: 10px;
        height: 3px;
        background: var(--generic--colour--accent);
        top: 0.6em;
        left: -1.3em;
      }
    }
  }

  ol {
    counter-reset: section;

    ol {
      margin: 0.5em 0 0;
    }

    li {
      position: relative;

      &:before {
        color:var(--generic--colour--accent);
        font-weight: $medium;
        text-align: right;
        counter-increment: section;
        content: counter(section) ".";
        left: -40px;
        width: 30px;
      }
    }
  }

  strong {
    font-weight: $bold;
  }

  em {
    font-style: italic;
  }

  // Links

  a {
    color:var(--generic--colour--link);

    &:hover, &:focus, &:active {
      color:var(--generic--colour--linkHover);
    }
  }

  // Blockquote
  blockquote {
    font-size:1em;

    p {
      font:var(--cp_Quote--text--quoteFont);
      color:var(--cp_Quote--colour--text);
      position: relative;
      margin-bottom: 0.75em;
      
      &:before {
        content:"\201C";
        position: absolute;
        left: 0;
        top:0;
        transform:translateX(-100%);
      }

      &:after {
        content:"\201D";
      }
    }

    
  }

  cite {
    font:var(--cp_Quote--text--citeFont);
    line-height:1.6;
    color:var(--cp_Quote--colour--citeText);
  }

  // Horizontal Rule
  hr {
    padding:em(8) 0;
    margin:1em  0;
    border:none;

    &:after {
      width:8px;
      height:8px;
      border:2px solid $clrDarkGrey;
      top:2px;
      left:calc(50% - 4px);
      transform:rotate(45deg);
    }
  }

  > p:last-child {
    margin-bottom: 0;
  }

  // Tables
  table {

  }

  td,th {
    padding:var(--table--layout--padding);
    border:var(--table--layout--border);
  }

  th {
    background:var(--table--colour--thBackground);
    color:var(--table--colour--thText);
    font-weight: var(--table--layout--thWeight);
  }

  td {
    background:var(--table--colour--tdBackground);
    color:var(--table--colour--tdText);
    font-weight: var(--table--layout--tdWeight);
  }

  // Variants

  &--caption {
    font-size:0.9em;

    > * {
      max-width:500px;
      margin-right:auto;
    }

    h3 {
      color:var(--heading--color--generic);
    }
  }

  &--header {
    > h3 {
      margin-bottom: 0;
    }
  }

  &--rules {
    ul {
      margin-bottom: 0;
    }
  }
}

/* !== Breakpoint */
@include mq($bpLeia) {
  .tx_Prose {
    p,li {
      font-size:em(16);
    }

    blockquote {
      p {
        font-size:em(28);
      }
    }
  }
}

/* !== Breakpoint */
@include mq($bpArtoo) {
  .tx_Prose {
    hr {
      margin:0.5em  0;
    }

    blockquote {
      p {
        font-size:em(24);
      }

      cite {
        em {
          font-size:em(18,15);
        }
      }
    }
  }
}