/* != Cell - Modal Styles */

// Stops scrolling on the page while the modal is displayed.
body.modalDisplayed {
  overflow:hidden;
}

.cp_ModalScreen {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 460;
  background:rgba($clrWhite, 0.8);
  display: block;
  //display: none;
}

.cp_Modal {
  $self: &;

  position: fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index: 470;
  opacity: 0;
  transition:opacity var(--generic--timing--standard);

  &.is_Displayed {
    display: block;
    opacity: 1;
  }

  &__inner {
    margin:0;
    padding:0;
  }

  &__content {
    border-radius:5px;
  }

  &__contentHolder {
    position: relative;
    width: 100%;
    max-height:100vh;
    height:735px;

    iframe {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 60px);
      background:$clrBlack;
    }
  }

  &__close {
    position: absolute;
    top:10px;
    right:10px;
    display: block;
    z-index: 10;
    text-indent: -9999px;    
  }

  &__closeLink {
    display: block;
    width: var(--generic--layout--smallIconSize);
    height: var(--generic--layout--smallIconSize);
    background:var(--icon--file--close) center center no-repeat;
    background-size:contain;
  }

  iframe {
    width: 100%;
    border-radius:5px;
  }

  &--image {
    #{ $self }__content {
      opacity:0;
      transition:opacity var(--generic--timing--long);
    }

    #{ $self }__contentHolder {
      height:auto;
    }

    img {
      width:auto;
      height:auto;
      max-width: calc(100vw - 40px);
      max-height: calc(100vh - 40px);
      position: relative;
      overflow: hidden;
      margin-bottom: 0;

      // @include mq($bpChewie){
      //   width: 800px;
      // }

      &.is_Loaded {
        height: auto;
        padding-top:0;
      }
    }
  }

  &.is_Loaded {
    //transition:top 0.2s ease-in-out, left 0.2s ease-in-out;

    #{ $self }__content {
      opacity:1;
    }

    .ob_Media {
      height: auto;
      padding-top:0;
    }
  }
}
